{% extends 'base.html.twig' %}

{% block title 'Home Page' %}

{% block body %}
    <div class="container">
        <h1 class="h1">Home Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, deserunt distinctio eveniet facilis hic, labore nemo nesciunt obcaecati optio praesentium quidem quo saepe similique sit soluta sunt tempore velit voluptatem?</p>
    </div>
{% endblock %}
