<header class="header">
    <ul>
        <li><a href="{{ path('home') }}" title="Home Page">Home Page</a></li>
        <li><a href="{{ path('blog') }}" title="Blog">Blog</a></li>
        <li><a href="{{ path('app_login') }}" title="Login to your account">Login</a></li>
        <li><a href="{{ path('app_register') }}" title="Create an account">Signup</a></li>
    </ul>
</header>
