@use "./tools/mixins";
@use "./tools/reset";
@use "./tools/layout";
@use "./tools/typography";
@use "./modules/header";
@use "./modules/footer";


/**
 Variables
*/
:root {
    --gap: 20px;
    --spacing: 8px;
    --background-page: #FFFFFF;
    --text-color: #000000;
    --accent-color: #0063D0;
    --darker-blue: #000814;
    --half-darker-blue: #00122D;
    --night: #050A11;
    --yellow: #D3A200;
    --green: #0D5F00;
    --read: #B60000;
    --back: #000000;
    --darker-grey: #424242;
    --medium-grey: #EBEBEB;
    --white: #FFFFFF;
    --hr-color: #EBEBEB;
}

/**
    Night mode
*/
@include mixins.night {
    --background-page: #050A11;
    --text-color: #a8b4d0;
    --accent-color: #0079FF;
    --darker-blue: #00183B;
    --half-darker-blue: #00122D;
    --night: #050A11;
    --yellow: #FFC300;
    --green: #168B03;
    --read: #FA0101;
    --back: #000000;
    --darker-grey: #424242;
    --medium-grey: #B8B4B4;
    --white: #FFFFFF;
    --hr-color: #192641;
}

/**
Generic styles
*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-break: break-word;
    background-color:  var(--background-page);
    color:  var(--text-color);
}

body.day-theme {
    background-color: var(--day-theme-bg);
}

::selection {
    background: var(--accent-color);
    color: #FFFFFF;
}
